@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-radius: 0px;
}

body{
  font-family: 'Roboto', sans-serif;
  color:  #FEFEFE;
}   

.header{
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);;
}

.header__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.menu__link{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #131314;
}

.menu__link:hover{
  font-weight: 600;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn{
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 41px;
  cursor: pointer;
}
.btn:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 0px rgba(19, 19, 20, 0.22);
  border-radius: 8px;
  color: #131314;
  border-color: #FFFFFF;
}

.btn:first-child{
  padding: 0 33px;
}

.banner{
  padding: 65px 44px 0 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.banner__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.banner__text{
  width: 632px;
  padding: 0 195px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.banner-h1{
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.288px;
  color: #000000;
}

.banner-p,
.banner-link{
  font-family: 'Inter';
  font-size: 13px;
  line-height: 20px;
  color: #46474E;
}

.banner-link:hover{
  color: #000000;
}

.banner__text .btn{
  padding: 1px 48px;
  margin: 29px 0 23px;
  width: 247px;
}

.banner__add{
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.add-p{
  font-family: 'Inter';
  font-size: 14px;
  line-height: 14px;
  color: #131314;
  margin-right: 16px;
}

.add-link{
  padding: 0 24px 0 16px;
  border-left: 1px solid #E8E8E9;
  border-right: 1px solid #E8E8E9;
  font-family: 'Inter';
  font-size: 13px;
  line-height: 14px;
  color: #131314;
}

.crossed__lines{
  margin-left: 10px;
  cursor: pointer;
}

.wide-thin__card-h{
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.216px;
  color: #000000;
  width: 476px;
  margin: 65px 0 61px;
}

.thin-card-p{
  font-family: 'Inter';
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #46474E;
}
.opportunities{
  padding: 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.wide__card, .thin-card__wrap{
  position: relative;
  background: #F3F4F4;
  border-radius: 8px;
  padding: 0 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.two-thin-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card-sign{
  position: absolute;
  top: -25px;
}

.two-thin-cards:nth-of-type(2) .card-sign {
  left: -25px;
  top: -25px;
}

.two-thin-cards:nth-of-type(4) .card-sign{
  right: -25px;
  top: -25px;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:first-child{
  padding: 0 94px;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:first-child .wide-thin__card-h{
  margin: 63px 0 17px;
  width: 332px;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:first-child .thin-card-p{
  margin: 0 0 88px;
  width: 432px;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:last-child{
  padding: 0 95px;
  flex-direction: column-reverse;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:last-child .wide-thin__card-h{
  margin: 65px 0 17px;
  width: 303px;
}

.two-thin-cards:nth-of-type(2) .thin-card__wrap:last-child .thin-card-p{
  margin: 0 0 34px;
  width: 429px;
}

.two-thin-cards:nth-of-type(4) .thin-card__wrap:first-child{
  padding: 0 120px;
}

.two-thin-cards:nth-of-type(4) .thin-card__wrap:first-child .wide-thin__card-h{
  width: 238px;
}

.two-thin-cards:nth-of-type(4) .thin-card__wrap:last-child{
  padding: 0;
}

.two-thin-cards:nth-of-type(4) .thin-card__wrap:last-child .wide-thin__card-h{
  width: 416px;
}